<header id="content-header">
  <h1>Reviews for <%= link_to(@movie.title, @movie) %></h2>
</header>

<ol id="reviews">
  <% @reviews.each do |review| %>
    <li>
      <span class="review"><%= show_stars(review) %></span>
      <span class="user">by <%= link_to review.user.name, review.user %></span>
      <span class="date"><%= time_ago_in_words(review.created_at) %> ago</span>
      <p>
        &quot;<%= review.comment %>&quot;
      </p>
      <p>
        <%= link_to 'Delete', [@movie, review],
                  id: "#{dom_id(review)}_delete",
                  class: 'button',
                  method: :delete, 
                  data: { confirm: 'Are you sure you want to delete review?' } %>
        <%= link_to 'Edit', edit_movie_review_path(@movie, review),
                  class: 'button' %>
      </p>
    </li>
  <% end %>
</ol>

