<header id="page-header">
  <div id="masthead">
    <h1><%= link_to 'Flix', root_path %></h1>
<<<<<<< HEAD
    <nav>
      <p>
        <% if current_user %>
          <%= link_to current_user.name, user_path(current_user) %>
          <%= link_to "Sign out", session_path, method: :delete, class: 'button' %>
        <% else %>
          <%= link_to 'Register', register_path, class: 'button' %>
          <%= link_to 'Sign in', signin_path, class: 'button' %>
        <% end %>
      </p>
    </nav>
  </div>  
=======
  </div>
>>>>>>> 96de389ec1526b170b51680e81306b21b04dcdd1
</header>
